.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 30%;
  margin: 1%;
  margin-top: 1%;
  margin-left: 35%;
  }
  
  .example-full-width {
    width: 100%;
    text-align: center;
  }
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    padding: 5%;
  }
  .section{
    
  }
  .mine{
    margin-left: 35%;
    max-width: 600px;
  }